@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
.theme-dark {
    --background-color: #24282B;
    --background-color-transparent: #24282bc8;
    --background-color-second: #2e3438;
    --background-color-second-white: #495156;
    --background-color-third: #18191b;
    --background-color-white: #777777;
    --valid: #58b740;
    --unvalid: #BD3535;
    --text-color: #FFFFFF;
    --statue-getting: #494949;
    --statue-online: #6fd057;
    --statue-offline: #BD3535;
    --purple: #8d10d0;
    --blue: #1a31c9;
    --discord: #5966F2;
    --face-icon: url(../ressources/img/icon/emoji.svg);
    --leave-icon: url(../ressources/img/icon/leave.svg);
    --edit-icon: url(../ressources/img/icon/edit.svg);
    --close-icon: url(../ressources/img/icon/close.svg);
    --profile-favorite: url(../ressources/img/icon/profile_favorite.svg)
}

body {
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
a {
    color: var(--text-color);
    font-family: 'Quicksand';
    font-weight: 400;
}

a {
    color: var(--valid);
    text-decoration: none;
}

.button {
    background: var(--background-color-second);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px -2px 2px rgba(0, 0, 0, 0.25);
    border-radius: 2vw;
    border: 0;
}

#page {
    width: 100vw;
    height: 82vh;
}

#loader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--background-color);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    border: 16px solid var(--background-color-second);
    border-top: 16px solid var(--purple);
    border-radius: 50%;
    width: 8vw;
    height: 8vw;
    animation: spin 1.5s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}