@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

.theme-dark {
    --background-color: #24282B;
    --background-color-second: #2E3438;

    --valid: #6fd057;
    --unvalid: #BD3535;
    
    --text-color: #FFFFFF;
}

body{
    background-color: var(--background-color);
}
p{
    color: var(--text-color);
    font-family: 'Quicksand';
    font-weight: 400;
}