header {
    background-color: var(--background-color-second);
    width: 100%;
    height: 12vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .title {
    text-align: center;
    display: block;
    height: fit-content;
    width: fit-content;
    font-weight: 700;
    font-size: 3vw;
    cursor: pointer;
    color: var(--text-color)
}

header .content {
    height: 100%;
    width: 80%;
    display: flex;
    align-content: center;
    justify-content: space-between;
}

header .content .server-statue-widget {
    height: 100%;
    width: 15%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-content: center;
}

header .content .server-statue-widget .title {
    font-size: 2vh;
    font-weight: 600;
    width: 100%;
    height: 30%;
    margin: 0;
    margin-top: 1vh;
    cursor: default;
}

header .content .server-statue-widget .statue {
    height: 70%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header .content .server-statue-widget .statue #round {
    background-color: var(--statue-getting);
    width: 4vh;
    height: 4vh;
    border-radius: 50%
}

header .content .server-statue-widget .statue #round[class=online] {
    background-color: var(--statue-online);
}

header .content .server-statue-widget .statue #round[class=offline] {
    background-color: var(--statue-offline);
}

header .content .server-statue-widget .statue #round[class=error] {
    background-color: #e91717;
}

header .content .server-statue-widget .statue .text {
    font-size: 4vh;
    font-weight: 500;
}

header .content nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 65%;
}

header .content nav .button {
    display: block;
    width: 12vw;
    height: 60%;
    background-color: var(--background-color-second);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px -2px 2px rgba(0, 0, 0, 0.25);
    border-radius: 32px;
    cursor: pointer;
    transition: all 0.5s;
}

header .content nav .button:hover {
    background-color: var(--background-color-third);
    box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.5);
}

header .content nav #selected-button {
    background-color: var(--background-color-third);
    box-shadow: inset 0px 4px 2px rgba(0, 0, 0, 0.5);
}

header .content nav .button p {
    font-weight: 700;
    font-size: 1.5vw;
}

header .content #connect {
    display: block;
    width: 20%;
    height: 100%;
}

header .content #connect .content {
    position: relative;
    z-index: 2;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .content #connect .content .icon {
    background-image: url(../ressources/img/icon/user.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 5vh;
    width: 5vh;
    margin-right: 0.7vw;
    cursor: pointer;
}

header .content #connect .content p {
    font-weight: 700;
    font-size: 1.5vw;
    cursor: pointer;
}

header .content #connect .dropdown {
    display: none;
}

header .content #connect .dropdown-close {
    margin-top: 5px;
    background-color: var(--background-color-white);
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    height: 0;
}

header .content #connect .dropdown-close div {
    display: none;
}

header .content #connect .dropdown-open {
    margin-top: 5px;
    background-color: var(--background-color-white);
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

header .content #connect .dropdown-open div {
    height: 6vh;
    display: block;
    text-align: center;
    cursor: pointer;
    display: flex;
    justify-content: start;
    align-items: center;
    -webkit-transform: scale(0.90);
    transition: background-color 0.5s;
    transition: transform 0.2s;
}

header .content #connect .dropdown-open div:nth-child(1):hover {
    border-radius: 10px 10px 0 0;
}

header .content #connect .dropdown-open div:last-child:hover {
    border-radius: 0 0 10px 10px;
}

header .content #connect .dropdown-open div:hover {
    -webkit-transform: scale(1);
    background-color: var(--background-color-second);
    overflow-x: hidden;
}

header .content #connect .dropdown-open div span[class="icon"] {
    width: 2.3vw;
    height: 2.3vw;
    transform: translateX(10px);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

header .content #connect .dropdown-open div a {
    font-weight: 600;
    font-size: 1.5vw;
    color: var(--text-color);
    margin-left: 2vw;
}

@keyframes openUserDropdownAnim {
    0% {
        transform: scale(0, .025);
    }
    50% {
        transform: scale(1, .025);
    }
}

@media (prefers-reduced-motion: no-preference) {
    .dropdown-open {
        animation-name: openUserDropdownAnim;
        animation-duration: 0.3s;
        animation-iteration-count: 1;
    }
}