#page {
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#register {
    width: 50%;
    height: 60%;
    background-color: var(--background-color-second);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 5vw;
}

#register p {
    font-size: 2vw;
    font-weight: 700;
}

#register .input {
    width: 30%;
    height: 15%;
    background: var(--background-color);
    border-radius: 40px;
    border: 0px;
    box-shadow: inset 4px 4px 3px rgba(0, 0, 0, 0.5);
    color: #fff;
    font-weight: 600;
    font-family: 'Quicksand';
    text-align: center;
}

#register .input::-webkit-input-placeholder {
    text-align: center;
    color: var(--text-color);
    font-weight: 600;
    font-family: 'Quicksand';
}

#register .input:-moz-placeholder {
    /* Firefox 18- */
    text-align: center;
    color: var(--text-color);
    font-weight: 600;
    font-family: 'Quicksand';
}

#register .input::-moz-placeholder {
    /* Firefox 19+ */
    text-align: center;
    color: var(--text-color);
    font-weight: 600;
    font-family: 'Quicksand';
}

#register .input:-ms-input-placeholder {
    text-align: center;
    color: var(--text-color);
    font-weight: 600;
    font-family: 'Quicksand';
}

#register .button {
    width: 10%;
    height: 10%;
    color: #fff;
    font-weight: 700;
    font-family: 'Quicksand';
}

.return_panel {
    display: none;
}

.return_panel_valid {
    width: 50%;
    height: 10%;
    background-color: var(--valid);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 5vw;
}

.return_panel_unvalid {
    width: 50%;
    height: 10%;
    background-color: var(--unvalid);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 5vw;
}