#page {
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#register {
    width: 50%;
    height: 70%;
    background-color: var(--background-color-second);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 5vw;
}

#register form {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#register p {
    font-size: 2vw;
    font-weight: 700;
}

#register .input {
    width: 30%;
    height: 15%;
    background: var(--background-color);
    border-radius: 40px;
    border: 0px;
    box-shadow: inset 4px 4px 3px rgba(0, 0, 0, 0.5);
    color: #fff;
    font-weight: 600;
    font-family: 'Quicksand';
    text-align: center;
}

#register .input::-webkit-input-placeholder {
    text-align: center;
    color: var(--text-color);
    font-weight: 600;
    font-family: 'Quicksand';
}

#register .input:-moz-placeholder {
    /* Firefox 18- */
    text-align: center;
    color: var(--text-color);
    font-weight: 600;
    font-family: 'Quicksand';
}

#register .input::-moz-placeholder {
    /* Firefox 19+ */
    text-align: center;
    color: var(--text-color);
    font-weight: 600;
    font-family: 'Quicksand';
}

#register .input:-ms-input-placeholder {
    text-align: center;
    color: var(--text-color);
    font-weight: 600;
    font-family: 'Quicksand';
}

#register .button {
    width: 20%;
    height: 10%;
    color: #fff;
    font-weight: 700;
    font-family: 'Quicksand';
    font-size: 1.3vw;
    transition: all 0.5s;
}

#register .button:hover {
    background-color: var(--background-color-third);
    box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.5);
}

#register .button:active {
    background-color: var(--background-color-third);
    box-shadow: inset 0px 4px 2px rgba(0, 0, 0, 0.5);
}

.return_panel {
    display: none;
    position: absolute;
    bottom: 5vh;
    left: 25vw;
    z-index: 10;
    animation: return_panel_animation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.return_panel_valid {
    width: 50%;
    height: 10%;
    background-color: var(--valid);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 5vw;
    position: absolute;
    bottom: 5vh;
    left: 25vw;
    z-index: 10;
    animation: return_panel_animation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.return_panel_unvalid {
    width: 50%;
    height: 10%;
    background-color: var(--unvalid);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 5vw;
    position: absolute;
    bottom: 5vh;
    left: 25vw;
    z-index: 10;
    animation: return_panel_animation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

#err_text{
    animation: return_panel_text_animation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes return_panel_animation {
    0% {
        bottom: 0;
        width: 0;
        left: 50vw;
    }

}
@keyframes return_panel_text_animation {
    0%{
        color: rgba(0, 0, 0, 0);
    }
    40% {
        color: rgba(0, 0, 0, 0);
    }
}