#page {
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#register {
    width: 50%;
    height: 70%;
    background-color: var(--background-color-second);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 5vw;
}

#register form {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#register p {
    font-size: 2vw;
    font-weight: 700;
}

#register .input {
    width: 30%;
    height: 15%;
    background: var(--background-color);
    border-radius: 40px;
    border: 0px;
    box-shadow: inset 4px 4px 3px rgba(0, 0, 0, 0.5);
    color: #fff;
    font-weight: 600;
    font-family: 'Quicksand';
    text-align: center;
}

#register .input::-webkit-input-placeholder {
    text-align: center;
    color: var(--text-color);
    font-weight: 600;
    font-family: 'Quicksand';
}

#register .input:-moz-placeholder {
    /* Firefox 18- */
    text-align: center;
    color: var(--text-color);
    font-weight: 600;
    font-family: 'Quicksand';
}

#register .input::-moz-placeholder {
    /* Firefox 19+ */
    text-align: center;
    color: var(--text-color);
    font-weight: 600;
    font-family: 'Quicksand';
}

#register .input:-ms-input-placeholder {
    text-align: center;
    color: var(--text-color);
    font-weight: 600;
    font-family: 'Quicksand';
}

#register .button {
    width: 20%;
    height: 10%;
    color: #fff;
    font-weight: 700;
    font-family: 'Quicksand';
    font-size: 1.3vw;
    transition: all 0.5s;
}

#register .boutton-container{
    width: 80%;
    height: 15%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#register .boutton-container .button {
    width: 30%;
    height: 80%;
    color: #fff;
    font-weight: 700;
    font-family: 'Quicksand';
    font-size: 1.3vw;
    transition: all 0.5s;
}

#register .boutton-container .button:hover {
    background-color: var(--background-color-third);
    box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.5);
}
#register .boutton-container .button:active {
    background-color: var(--background-color-third);
    box-shadow: inset 0px 4px 2px rgba(0, 0, 0, 0.5);
}

#register .boutton-container .button[id=google] {
    width: 7vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
}

#register .boutton-container .button[id=google] p {
    display: none;
}
#register .boutton-container .button[id=google] .google-icon {
    background-image: url(../ressources/img/icon/google.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 3vw;
    width: 3vw;
    
}

#register .boutton-container .button[id=google]:hover {
    width: 30%;
}
#register .boutton-container .button[id=google]:hover .google-icon {

} 
#register .boutton-container .button[id=google]:hover p {
    display: block;
}   

.login_link {
    width: 50%;
    min-height: 10%;
    background-color: var(--background-color-second);
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login_link .login-link-button {
    display: flex;
    align-items: center;
    height: 100%;
    margin-left: 1vw;
    transition: transform 0.25s
}

.login_link .login-link-button:hover {
    transform: translateX(10px);
}

.login_link p, .login-link-button a{
    font-size: 1.3vw;
}

.login_link .login-link-button a {
    font-weight: 600;
}

.login_link .login-link-button .icon {
    background-image: url(../ressources/img/icon/arrow_right.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 2vw;
    width: 2vw;
    cursor: pointer;
    filter: brightness(0) saturate(100%) invert(70%) sepia(55%) saturate(486%) hue-rotate(60deg) brightness(95%) contrast(84%);
}

/*.return_panel {
    display: none;
    position: absolute;
    bottom: 5vh;
    left: 25vw;
    z-index: 10;
    animation: return_panel_animation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.return_panel_valid {
    width: 50%;
    height: 10%;
    background-color: var(--valid);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 5vw;
    position: absolute;
    bottom: 5vh;
    left: 25vw;
    z-index: 10;
    animation: return_panel_animation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.return_panel_unvalid {
    width: 50%;
    height: 10%;
    background-color: var(--unvalid);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 5vw;
    position: absolute;
    bottom: 5vh;
    left: 25vw;
    z-index: 10;
    animation: return_panel_animation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

#err_text{
    animation: return_panel_text_animation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes return_panel_animation {
    0% {
        bottom: 0;
        width: 0;
        left: 50vw;
    }

}
@keyframes return_panel_text_animation {
    0%{
        color: rgba(0, 0, 0, 0);
    }
    40% {
        color: rgba(0, 0, 0, 0);
    }
}*/